@import url('https://ssl.gstatic.com/docs/script/css/add-ons1.css');

:root {
	--mdc-theme-primary: #00AFFF;
}

h1 {
	font-size: 24px;
	font-weight: bold;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100%;
	font-family: Arial, sans-serif;
}

.single-view-centered {
	/* Style for a <div> that contains a single element which should be centered both vertically and horizontally */
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
  justify-content: center;
  flex-direction: column;
}

#app {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}

/*.filename, .button-group, .input-container {
	flex-grow: 1
}*/

.textarea-container {
	flex-grow: 1
}

#filename {
	padding-top: 20px;
	padding-left: 10px;
}

#statusText {
	font-style: italic;
	padding-left: 15px;
	display: inline-block;
	flex-grow: 1;
}

.field-container {
	padding: 10px;
}

.button-group {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-top: 15px;
	padding-left: 10px;
	padding-right: 10px;
}

input[type=url] {
	width: 100%;
}

textarea {
	width: 100%;
	height: 90%;
}

textarea:disabled, input[type=url]:disabled {
	background-color: #efefef;
}

.auto-go {
	display: flex;
	max-width: 800px;
	width: 95vw;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
  justify-content: center;
  flex-direction: column;
	text-align: center;
}

.auto-go > input {
	margin-bottom: 20px;
}

.auto-go > div {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
}

.auto-go > div > div {
	max-width: 100px;
	width: 40%;
	display: flex;
	text-align: center;
	flex-direction: column;
}

@media (prefers-color-scheme: dark) {
	html {
		background-color: #323232;
		color: white;
	}

	h1, h2, h3, h4, h5, h6, label, p, ol, li {
		color: white;
	}

	textarea, input[type=url] {
		background-color: #434343;
		color: white;
	}

	textarea:disabled, input[type=url]:disabled {
		background-color: #323232;
		color: white;
	}
}